*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.container .row{
    border: 1px solid #ccc;
    padding: 20px;
    min-width: 50%;
    margin: 10px auto;
}

.scrolltop{
    display: none;
    position: absolute;
    right: 70px;
    bottom: 12%;
}

.scrolltop .scroll{
    background: rgb(243, 222, 34);
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: fixed;
}

.scrolltop .scroll svg{
    transform: rotate(270deg);
    animation-name: svgAnim;
    animation-duration: 2s;
}

@keyframes svgAnim {
    from {
        transform: scale(1);
    }
  
    to {
        transform: scale(1.2);
        transform: rotate(270deg);
    }
}